.swiper.newSwiper {
  width: 100%;
  height: 80%;
  cursor: pointer;
  padding-bottom: 20px;
}
.swiper.newSwiper .swiper-slide{
    height: 100%;
    width: 260px;
   
}

.swiper-pagination{
  display: none;
}
.my-atropos:hover .moreBtn {
  opacity: 1 !important;
  visibility: visible;
}