.swiper.mainSlider {
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide {
width: 100%;
height: 100%;
}
.swiper.mainSlider .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
     transform: translateX(-50%);
}
.swiper-button-prev{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    transform: translateX(50%);
}
.swiper-pagination-bullet{
    color: white;
    background-color: white;
}
.swiper-pagination-bullet-active{
    width: 30px !important;
    height: 8px;
    border-radius: 0;
    border-radius: 10px;
}
